/* Dim non-active markdown panes */
.workspace-leaf:not(.mod-active) .workspace-leaf-content[data-type='markdown'] {
    opacity: 0.75;
}

/* Apply opacity transition to all panes */
.workspace-leaf .workspace-leaf-content[data-type='markdown'] {
    transition: opacity 0.25s ease-out;
}

/* Give the view content relative positioning so that we can position stuff within it */
.xmod-active .view-content {
    position: relative;
}

/* Spotlight gradient */
/* https://css-tricks.com/easing-linear-gradients */
.mod-active .markdown-source-view::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    content: linear-gradient(
        90deg,
        rgba(100, 100, 100, 1) 0%,
        rgba(100, 100, 100, 0.738) 19%,
        rgba(100, 100, 100, 0.541) 34%,
        rgba(100, 100, 100, 0.382) 47%,
        rgba(100, 100, 100, 0.278) 56.5%,
        rgba(100, 100, 100, 0.194) 65%,
        rgba(100, 100, 100, 0.126) 73%,
        rgba(100, 100, 100, 0.075) 80.2%,
        rgba(100, 100, 100, 0.042) 86.1%,
        rgba(100, 100, 100, 0.021) 91%,
        rgba(100, 100, 100, 0.008) 95.2%,
        rgba(100, 100, 100, 0.002) 98.2%,
        rgba(100, 100, 100, 0) 100%
    );
    z-index: 1000;
}
